#botaoNovaLista{
    width: 60px;
    height: 60px;
    padding: 5px;    
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: green;
    color: white;
    border-radius: 50%;
    box-shadow: 5px 5px 10px gray;
}

.lista{
    border-bottom: 1px solid gray;
    padding-left: 2px;
    padding-right: 5px;
}

a, a:active, a:link, a:hover, a:visited {
    text-decoration: none;
    color: black;
    font-weight: bolder;;
}